<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659154487163-bkq17ui5dm9c4obto065b4ndiaq25gls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659154487163-bkq17ui5dm9c4obto065b4ndiaq25gls</string>
	<key>API_KEY</key>
	<string>AIzaSyApAI_3bsRkTT3BtSvXA-qk5NdnEy7o9OA</string>
	<key>GCM_SENDER_ID</key>
	<string>659154487163</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jimmy.cozyinthere</string>
	<key>PROJECT_ID</key>
	<string>cozyinthere-7514c</string>
	<key>STORAGE_BUCKET</key>
	<string>cozyinthere-7514c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659154487163:ios:18406a39d2f53b11091fde</string>
</dict>
</plist>